{
  "PGUSER": "postgres",
  "PGHOST": "localhost",
  "PGPASSWORD": "postgres",
  "PGDATABASE": "phasmo",
  "PGPORT": "5432",
  "PG_DATABASE_NEW_USER": "discord_bot",
  "PG_DATABASE_NEW_USER_PASSWORD": "discord_bot"
}